        body{
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', sans-serif;
        }
        .clearfix::after {
                content: "";
                display: table;
                clear: both;
        }
        .light{ font-weight: 300; }
        .regular{ font-weight: 400; }
        .semi-bold{ font-weight: 600; }
        .bold{ font-weight: 700; }
        .extra-bold{ font-weight: 800; }
        section{
            text-align: center;
        }
        section h2{
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 44px;
        }
        .line{
            width: 100px;
            margin: 25px auto 55px auto;
            border-bottom: 4px solid #fcac45;
        }
            /*-------- first display --------*/

            .header{
                background-color: #111;
                height:100vh;
            }
            .container{
                padding-top: 50px;
                max-width: 1200px;
                margin: 0 auto;
            }
            .logo{
                float:left;
            }
            .logo a{
                text-transform: uppercase;
                font-size:24px;
                text-decoration: none;
                color:white;
            }
            .navbar{
            }
            .menu{
                float: right;
            }
            .menu ul{
                margin-top: 0;
                -webkit-transition:0.8s all;
            }
            .menu li{
                display: inline;
                list-style: none;
                margin-left:30px;
            }
            .menu a{
                padding-bottom: 12px;
                text-transform: uppercase;
                font-size:14px;
                text-decoration: none;
                color:white;
            }
            .menu a:hover{
                border-bottom: 3px solid #fcac45; 
            }
            .menu .active{
                border-bottom: 3px solid #fcac45;
            }
            .witget{
                margin-top: 30vh;
                align-items: center;
            }
            .witget h1{
                text-align: center;
                text-transform: uppercase;
                font-size:44px;
                color:#909090;
            }
            .witget .yelow{
                color:#eea241;
            }
            .witget p{
                font-size: 20px;
                text-align: center;
                color:#878787;
            }
            .witget p .bold{
                color:#cecece;
            }
            
            /*-------- about display --------*/

            .about{
                height: 100vh;
                display: block;
            }
            .about .container{
                padding-top: 10%;
            }
            .about .image{
                float: left;
                width: 507px;
            }
            .about_title{
                float: right;
                width: 430px;
            }
            .about_title h3{
                text-transform: uppercase;
                font-size:34px;
                color:#222;
                border-bottom: 4px solid #fcac45;
            }
            .about_title p{
                text-align: justify;
                font-size:18px;
                color:#222;
            }
            .about_title ul{
                padding: 0;
                text-align: left;
            }
            .about_title li{
                line-height: 36px;
                list-style: none;
            }
            .about_title li b{
                font-size: 18px;
            }
            .about_title li i{
                font-size: 16px;
            }

        /*-------- our team display --------*/

        .out_team{
            height: 100%;
            background-color: #070707;
            color: #f0f0f0;
        }
        .out_team h2{
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 44px;
            color: white;
        }
        .wrapper{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            margin-bottom:150px;
        }
        .card{
            border-radius: 3px;
            padding-top: 20px;
            width: 260px;
            border: 1px solid rgb(68, 60, 60);
            transition: .4s;
        }
        .card:hover{
            width: 270px;
            box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
            cursor: pointer;
        }
        .card .image img{
            width: 135px;
            height: 135px;
            margin: 0 auto;
            background-color: #909090;
            border-radius: 50%;
        }
        .card .fullname{
            margin: 10px;
            font-size: 20px;
        }
        .card .position{
            margin: 0;
            font-size: 16px;
        }
        .card p{
            margin: 10px auto 0 auto;
            font-size: 14px;
            width: 250px;
        }
        /*-------- our services display --------*/

        .out_services{
            height: 100%;
            background-color: white;
            color: #000;
        }
        .out_services h2{
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 44px;
            color: rgb(3, 3, 3);
    }
    .out_services .title{
        font-size: 16px;
    }
    .out_services .wrapper{
        padding: 0;
        margin-bottom: 10px;
    }
    .servis_item{
        padding-top: 10px;
        border-radius: 5px;
        width: 260px;
        transition: 1s;
    }
    .servis_item:hover{
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
        background: linear-gradient(#f8f2f5, #d8e3fa);
        width: 260px;
        cursor: pointer;
    }
    .servis_item .image{
            width: 135px;
            height: 135px;
            margin: 0 auto;
            border:5px solid #fdb963;
            border-radius: 50%;
    }
    .servis_item .image img{
        position: relative;
        top: 30%;
    }
    .servis_item .name{
            text-transform: uppercase;
            font-size: 25px;
    }
    /*-------- clients display --------*/

    .clients{
        height: 520px;
        padding-top: 70px;
        background-color: #000;
    }

    .clients h2{
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 44px;
        color: white;
    }
    .wrapper{
        padding-top: 105px;
        display: flex;
    }
    .client .item{
        justify-content: space-between;
    }
    /*-------- contact display --------*/
    .contact .container{
        max-width: 770px;
        margin-bottom: 100px;
    }
    .contact form{
        margin-top: 85px;
        text-align: left;
        font-size: 14px;
        line-height: 30px;
    }
    .wrapper-submit{
        position: relative;
        margin-bottom: 20px;
    }
    form #name, form #email{
        width: 360px;
        height: 40px;
    }
    form .name{
        float: left;
    }
    form .email{
        float: right;
    }
    form #message{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    form label::after{
        content: " *";
        color: red;
    }
    .btn-send{
        width: 165px;
        height: 44px;
        line-height: 44px;
        background-color: #fcb963;
        text-align: center;
        color: white;
        margin-top: 25px;
        text-decoration: none;
        float: right;
    }
    /*----- footer-----*/
    footer{
        background-color: #222;
        height: 92px;
    }
    footer .container{
        padding: 30px;
        display: flex;
        justify-content: center;
    }
    footer img{
        margin: 0 6px;
        height: 38px;
    }
